<div class="form-content" [formGroup]="addUnitForm">
  <div class="row">
    <div class="col-12">
      <p-dropdown [options]="classifications"
       formControlName="classification" optionLabel="name" [filter]="true"
        filterBy="name" [showClear]="true" (onChange)="onClassificationChange($event)"
        [placeholder]="'FIELDS.CLASSIFICATION' | translate">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <div *ngIf="control['classification'].touched && control['classification'].errors?.['required']"
        class="error-message">
        {{ 'GENERAL.FIELD_REQUIRED' | translate: { fieldName: ('FIELDS.CLASSIFICATION' | translate) } }}
      </div>
    </div>
    <div class="col-6">
      <input type="text" pInputText  appEliminateSpecialChars formControlName="arabicName" class="w-full"
        [placeholder]="'FIELDS.SHORT_ARABIC_NAME' | translate"/>
      <div *ngIf="control['arabicName'].touched && control['arabicName'].errors?.['required']" class="error-message">
        {{ 'GENERAL.FIELD_REQUIRED' | translate: { fieldName: ('FIELDS.SHORT_ARABIC_NAME' | translate) } }}
      </div>
        <!-- Max length validation -->
      <div *ngIf="control['arabicName'].touched && control['arabicName'].errors?.['maxlength']" class="error-message">
        {{ 'GENERAL.MAX_LENGTH_EXCEEDED' | translate: { maxLength: 50 } }}
      </div>
    </div>
    <div class="col-6">
      <input type="text" pInputText  appEliminateSpecialChars formControlName="englishName" class="w-full"
        [placeholder]="'FIELDS.ENGLISH_NAME' | translate"/>
      <div *ngIf="control['englishName'].touched && control['englishName'].errors?.['required']" class="error-message">
        {{ 'GENERAL.FIELD_REQUIRED' | translate: { fieldName: ('FIELDS.ENGLISH_NAME' | translate) } }}
      </div>
              <!-- Max length validation -->
      <div *ngIf="control['englishName'].touched && control['englishName'].errors?.['maxlength']" class="error-message">
         {{ 'GENERAL.MAX_LENGTH_EXCEEDED' | translate: { maxLength: 50 } }}
      </div>
    </div>
    <div class="col-6">
      <input type="text" pInputText appEliminateSpecialChars formControlName="shortArabicName" class="w-full"
      [placeholder]="'FIELDS.SHORT_ARABIC_NAME' | translate"/>
      <div *ngIf="control['shortArabicName'].touched && control['shortArabicName'].errors?.['required']"
        class="error-message">
        {{ 'GENERAL.FIELD_REQUIRED' | translate: { fieldName: ('FIELDS.SHORT_ARABIC_NAME' | translate) } }}
      </div>
      <div *ngIf="control['shortArabicName'].touched && control['shortArabicName'].errors?.['maxlength']" class="error-message">
        {{ 'GENERAL.MAX_LENGTH_EXCEEDED' | translate: { maxLength: 50 } }}
     </div>
    </div>
    <div class="col-6">
      <input type="text" pInputText appEliminateSpecialChars formControlName="shortEnglishName" class="w-full"
      [placeholder]="'FIELDS.SHORT_ENGLISH_NAME' | translate"/>
      <div *ngIf="control['shortEnglishName'].touched && control['shortEnglishName'].errors?.['required']"
        class="error-message">
        {{ 'GENERAL.FIELD_REQUIRED' | translate: { fieldName: ('FIELDS.SHORT_ENGLISH_NAME' | translate) } }}
      </div>
      <div *ngIf="control['shortEnglishName'].touched && control['shortEnglishName'].errors?.['maxlength']" class="error-message">
        {{ 'GENERAL.MAX_LENGTH_EXCEEDED' | translate: { maxLength: 50 } }}
     </div>
    </div>
    <div class="col-12">
      <div class="flex align-items-center gap-2">
        <p-checkbox formControlName="isDecimal" [binary]="true" inputId="binary"></p-checkbox>
        <label for="ny">{{'FIELDS.ALLOW_DECIMAL' | translate}}</label>
      </div>
    </div>
    <div class="col-3">
      <p-button [label]="unitData ? ('GENERAL.UPDATE' | translate) : ('GENERAL.SAVE' | translate)" class="p-element btn-tasheel btn-primary w-full"
        (onClick)="onSave()"></p-button>
    </div>
  </div>

</div>
