/* You can add global styles to this file, and also import other style files */
// @import 'primeng/resources/themes/bootstrap4-light-blue/theme.css';
// @import 'primeng/resources/themes/md-light-indigo/theme.css';
// @import 'primeng/resources/themes/fluent-light/theme.css';
// @import 'primeng/resources/themes/lara-light-blue/theme.css';
// @import 'primeng/resources/themes/soho-light/theme.css'; // is good
// @import 'primeng/resources/themes/viva-light/theme.css';
// @import 'primeng/resources/themes/mira/theme.css';
// @import 'primeng/resources/themes/nano/theme.css';
// @import 'primeng/resources/themes/saga-blue/theme.css'; // is good
// @import 'primeng/resources/themes/vela-blue/theme.css';
// @import 'primeng/resources/themes/arya-blue/theme.css';
// @import 'primeng/resources/themes/nova/theme.css';
// @import 'primeng/resources/themes/luna-blue/theme.css';
// @import 'primeng/resources/themes/rhea/theme.css';
// @import 'primeng/resources/primeng.min.css';
// @import 'primeflex/primeflex.scss';
// @import 'primeicons/primeicons.css';
// @import "bootstrap/scss/bootstrap";

///////////////////////////////////////////////////////////////////////////////////////////////////////////
$gutter: 1rem; //for primeflex grid system
@import 'assets/layout/styles/layout/layout.scss';

/* PrimeNG */
@import 'primeng/resources/primeng.min.css';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

/* systems */
@import 'assets/system/styles/flags/flags.css';
@import 'assets/system/styles/badges.scss';
@import 'assets/system/styles/code.scss';
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

.arabic {
  font-family: 'Cairo', sans-serif !important;
}

:dir(rtl) .p-datatable .p-datatable-thead > tr > th,
:dir(rtl) .p-datatable .p-datatable-tbody > tr > td {
  text-align: right;
}
:dir(rtl) .p-breadcrumb .p-breadcrumb-list li.p-menuitem-separator {
  transform: rotate(180deg);
}
.row {
  display: flex;
  flex-wrap: wrap;
}
admin-units,
admin-tags,
admin-brands,
admin-variants,
admin-classifications,
.dialog-side {
  .p-dialog {
    max-height: 100% !important;
  }
  .p-dialog-header {
    padding: 0;
  }
  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d5e7ff;
    width: 100%;
    padding: 16px 32px;
    &__title {
      font-size: 16px;
      font-weight: 500;
    }

    &__close-button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;

      &:hover {
        opacity: 0.8;
      }

      &:focus {
        outline: none;
      }
    }

    &__close-icon {
      width: 14px;
      height: 14px;
    }
  }
  .p-dialog-content {
    padding: 24px 16px;
  }
  .error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.5em;
  }
  .form-content {
    .p-dropdown,
    .p-inputnumber,
    .p-multiselect {
      width: 100%;
    }
  }
}
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .filters-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
  }
  .p-dropdown {
    width: 100%;
  }
}
.btn-tasheel {
  button {
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: none;
    width: 100%;
  }
}
.btn-primary {
  button {
    background: #ff7f3e;
    color: #222222;
  }
}

.product-image {
  img,
  button {
    border-radius: 12px;
  }
}