<section class="dialog-side">
  <shared-ui-table [config]="tableConfig" (actionClicked)="onActionClicked($event)" (onPage)="onPageChange($event)"
    (onSearch)="searchControl.patchValue($event)">
    <div class="filters p-grid" filters-area>
      <div class="filters-item col-2 p-0">{{'GENERAL.FILTERS' | translate}}</div>
      <div class="filters-actions col-4 p-0">
        <p-dropdown [options]="classifications" class="w-full" formControlName="classification" optionLabel="name"
          [filter]="true" filterBy="name" [showClear]="true" (onChange)="onClassificationChange($event)"
          placeholder="Select a classifications">
          <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
              <div>{{ selectedOption.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </shared-ui-table>
</section>