
<div class="row">
  <div class="col-12">
    <div class="flex-box">
      <div class="back-action flex items-center gap-2 cursor-pointer" (click)="goBack()">
        <img src="assets/system/icons/back-arrow.png" alt="back-arrow">
        <span>Back</span>
      </div>
      <div class="submit-action flex-box">
        <button class="btn btn-light"  (click)="goBack()">Cancel</button>
        <button class="btn btn-primary" (click)="save()" [disabled]="!catalogFormGroup.valid && selectedProductsList.length > 0">Save</button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="w-full card-details flex-box">
      <div class="title">{{'FIELDS.PAID_PRODUCTS' | translate}}</div>
      <div class="flex-box" [formGroup]="catalogFormGroup">
        <div>
          <label for="catalogProductCountPrice">{{'FIELDS.PRICE' | translate}}*</label>
          <p-inputNumber
          mode="decimal"
          inputId="withoutgrouping"
          formControlName="catalogProductCountPrice"
          [useGrouping]="false"
           class="w-full"
         [placeholder]="'FIELDS.PRICE' | translate"/>
      </div>
      <div>
        <label for="catalogProductCount">{{'FIELDS.NO_PRODUCTS' | translate}}*</label>
        <p-inputNumber
        mode="decimal"
        inputId="withoutgrouping"
        formControlName="catalogProductCount"
        [useGrouping]="false"
         class="w-full"
       [placeholder]="'FIELDS.NO_PRODUCTS' | translate"/>
    </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="w-full">
      <p-tabMenu [model]="items" [(activeItem)]="activeItem" (activeItemChange)="activateTab($event)" />
      <shared-ui-table
      [config]="tableConfig"
      (actionClicked)="onActionClicked($event)"
      (onSearch)="searchControl.patchValue($event)"
      (onPage)="onPageChange($event)">

    </shared-ui-table>
    </div>
  </div>
</div>


