<form [formGroup]="tagForm" autocomplete="off">
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12">
            <label for="classificationIds">{{ 'FIELDS.CLASSIFICATIONS' | translate }}</label>
            <p-multiSelect [options]="classifications" formControlName="classificationIds" optionLabel="name"
                optionValue="id" [filter]="true" filterBy="name" [showClear]="true"
                (onChange)="onClassificationChange($event)" [placeholder]="'FIELDS.CLASSIFICATIONS' | translate">
            </p-multiSelect>
            @if (formError.hasSpecificError('classificationIds', 'required')) {
            <small id="serviceType-error" class="text-error">
                {{ 'GENERAL.FIELD_REQUIRED' | translate: { fieldName: ('FIELDS.classificationIds' | translate) } }}
            </small>
            }
        </div>

        <div class="field col-12 md:col-6">
            <label for="englishName">{{ 'FIELDS.ENGLISH_NAME' | translate }}</label>
            <input pInputText type="text" pInputText formControlName="englishName" class="w-full"
                [ngClass]="{'ng-dirty ng-invalid': formError.hasError('englishName')}"
                [placeholder]="'FIELDS.ENGLISH_NAME' | translate" />

            @if (formError.hasSpecificError('englishName', 'required')) {
            <small id="serviceType-error" class="text-error">
                {{ 'GENERAL.FIELD_REQUIRED' | translate: { fieldName: ('FIELDS.ENGLISH_NAME' | translate) } }}
            </small>
            }
            @if (formError.hasSpecificError('englishName', 'maxlength')) {
            <small id="serviceType-error" class="text-error">
                {{ 'GENERAL.MAX_LENGTH_EXCEEDED' | translate: { maxLength: 50 } }}
            </small>
            }
        </div>

        <div class="field col-12 md:col-6">
            <label for="arabicName">{{ 'FIELDS.ARABIC_NAME' | translate }}</label>
            <input type="text" pInputText formControlName="arabicName" class="w-full"
                [ngClass]="{'ng-dirty ng-invalid': formError.hasError('arabicName')}"
                [placeholder]="'FIELDS.ARABIC_NAME' | translate" />

            @if (formError.hasSpecificError('arabicName', 'required')) {
            <small id="serviceType-error" class="text-error">
                {{ 'GENERAL.FIELD_REQUIRED' | translate: { fieldName: ('FIELDS.ARABIC_NAME' | translate) } }}
            </small>
            }
            @if (formError.hasSpecificError('arabicName', 'maxlength')) {
            <small id="serviceType-error" class="text-error">
                {{ 'GENERAL.MAX_LENGTH_EXCEEDED' | translate: { maxLength: 50 } }}
            </small>
            }
        </div>
    </div>
</form>
<div class="flex gap-2 align-items-center justify-content-end">
    <p-button [label]="'GENERAL.CANCEL'|translate" severity="danger" (onClick)="close()" />
    <p-button (onClick)="save()" severity="primary"
        [label]="tag.id ? ('GENERAL.UPDATE' | translate) : ('GENERAL.SAVE' | translate)" />
</div>