<pos-ui-breadcrumb [items]="breadcrumb"></pos-ui-breadcrumb>
<br>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Stores Management</h4>
            <p-tabMenu [model]="items" [(activeItem)]="activeItem" (activeItemChange)="activateTab($event)" />
            <shared-ui-table [config]="tableConfig" (actionClicked)="onActionClicked($event)" (onPage)="onPaginate($event)">
                <div class="filters" filters-area>
                    here will be filters inputs
                </div>
            </shared-ui-table>
        </div>
    </div>
</div>