<pos-ui-breadcrumb [items]="breadcrumb"></pos-ui-breadcrumb>
<br>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4 class="mb-4">Product Management</h4>
            <shared-ui-table [config]="tableConfig" (actionClicked)="onActionClicked($event)"
                (onSearch)="searchControl.patchValue($event)" (onPage)="onPageChange($event)">
                <div class="mt-4" filters-area>
                    <admin-product-filter (onFilter)="onFilter($event)"></admin-product-filter>
                </div>
            </shared-ui-table>
        </div>
    </div>
</div>