<div class="form-content" [formGroup]="dialogForm">
  <div class="row">
    <div class="col-6">
      <p-multiSelect
      [options]="classifications"
    formControlName="classifications"
    optionLabel="name"
    (onChange)="onClassificationChange($event)"
    [placeholder]="'FIELDS.CLASSIFICATION' | translate" />
      <div *ngIf="control['classifications'].touched && control['classifications'].errors?.['required']"
        class="error-message">
        {{ 'GENERAL.FIELD_REQUIRED' | translate: { fieldName: ('FIELDS.CLASSIFICATION' | translate) } }}
      </div>
    </div>
    <div class="col-6">
      <p-inputNumber
      mode="decimal"
      inputId="withoutgrouping"
      [useGrouping]="false"
       formControlName="barcodeNumber" class="w-full"
        [placeholder]="'FIELDS.BAR_CODE_NO' | translate"/>
      <div *ngIf="control['barcodeNumber'].touched && control['barcodeNumber'].errors?.['required']" class="error-message">
        {{ 'GENERAL.FIELD_REQUIRED' | translate: { fieldName: ('FIELDS.BAR_CODE_NO' | translate) } }}
      </div>
        <!-- Max length validation -->
      <div *ngIf="control['barcodeNumber'].touched && control['barcodeNumber'].errors?.['maxlength']" class="error-message">
        {{ 'GENERAL.MAX_LENGTH_EXCEEDED' | translate: { maxLength: 50 } }}
      </div>
    </div>
    <div class="col-6">
      <input type="text" pInputText  formControlName="arabicName" class="w-full"
        [placeholder]="'FIELDS.SHORT_ARABIC_NAME' | translate"/>
      <div *ngIf="control['arabicName'].touched && control['arabicName'].errors?.['required']" class="error-message">
        {{ 'GENERAL.FIELD_REQUIRED' | translate: { fieldName: ('FIELDS.SHORT_ARABIC_NAME' | translate) } }}
      </div>
        <!-- Max length validation -->
      <div *ngIf="control['arabicName'].touched && control['arabicName'].errors?.['maxlength']" class="error-message">
        {{ 'GENERAL.MAX_LENGTH_EXCEEDED' | translate: { maxLength: 50 } }}
      </div>
    </div>
    <div class="col-6">
      <input type="text" pInputText  formControlName="englishName" class="w-full"
        [placeholder]="'FIELDS.ENGLISH_NAME' | translate"/>
      <div *ngIf="control['englishName'].touched && control['englishName'].errors?.['required']" class="error-message">
        {{ 'GENERAL.FIELD_REQUIRED' | translate: { fieldName: ('FIELDS.ENGLISH_NAME' | translate) } }}
      </div>
      <!-- Max length validation -->
      <div *ngIf="control['englishName'].touched && control['englishName'].errors?.['maxlength']" class="error-message">
         {{ 'GENERAL.MAX_LENGTH_EXCEEDED' | translate: { maxLength: 50 } }}
      </div>
    </div>
    <div class="col-12">
       <ng-container *ngIf="!data?.icon?.blobUrI">
        <p-fileUpload
        mode="basic"
        [chooseLabel]="'GENERAL.CHOOSE' | translate"
        chooseIcon="pi pi-upload"
        name="demo[]"
        accept="image/*"
        maxFileSize="1000000"
        (onSelect)="onFileSelect($event)" />
       </ng-container>
       <ng-container *ngIf="data?.icon?.blobUrI">
        <div class="container-img">
          <img [src]="data?.icon?.blobUrI" [alt]="data?.icon?.id">
          <img src="assets/layout/images/close-icon.svg" alt="close-icon" class="close" (click)="removeImage()">
        </div>
       </ng-container>
    </div>
    <div class="col-3">
      <p-button [label]="data ? ('GENERAL.UPDATE' | translate) : ('GENERAL.SAVE' | translate)" class="p-element btn-tasheel btn-primary w-full"
        (onClick)="onSave()"></p-button>
    </div>
  </div>

</div>
