<div class="card" style="border-radius:0;">
    <div class="grid">
        <p-button [label]="'GENERAL.BACK' | translate" icon="pi pi-angle-left" class="p-button-link" (onClick)="_back()" [text]="true" />
    </div>
    <div class="grid mt-2">
        <div class="col-6">
            <p-table [value]="merchantProducts" #dt1 [globalFilterFields]="['name']" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <p-iconField iconPosition="left" class="ml-auto">
                            <p-inputIcon><i class="pi pi-search"></i></p-inputIcon>
                            <input pInputText type="text" #mprodsearch placeholder="{{'FIELDS.SEARCH'|translate}}"
                                (input)="dt1.filterGlobal(mprodsearch.value, 'contains')" />
                        </p-iconField>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{"FIELDS.PRODUCTNAME"|translate}}</th>
                        <th>{{"FIELDS.BARCODE"|translate}}</th>
                        <th>{{"FIELDS.COST"|translate}}</th>
                        <th>{{"FIELDS.PRICE"|translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-merchantproduct>
                    <tr>
                        <td class="flex align-items-center gap-2">
                            <p-checkbox [(ngModel)]="merchantproduct.checked" binary="true"
                                [disabled]="disabledProducts"></p-checkbox>
                            <span>
                                {{ merchantproduct.name }}
                            </span>
                        </td>
                        <td>{{ merchantproduct.barCode }}</td>
                        <td>{{ merchantproduct.cost }}</td>
                        <td>{{ merchantproduct.price }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4">{{'GENERAL.NODATA'|translate}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-6">
            <p-table [value]="products" [paginator]="true" #dt2 [rows]="5" [tableStyle]="{ 'min-width': '30rem' }"
                [rowsPerPageOptions]="[5, 10, 20]" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <p-iconField iconPosition="left" class="ml-auto">
                            <p-inputIcon><i class="pi pi-search"></i></p-inputIcon>
                            <input pInputText type="text" #prodsearch placeholder="{{'FIELDS.SEARCH'|translate}}"
                                (input)="searchControl.patchValue(prodsearch.value)" />
                        </p-iconField>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{"FIELDS.PRODUCTNAME"|translate}}</th>
                        <th>{{"FIELDS.BARCODE"|translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td class="flex gap-2 align-items-center">
                            <p-checkbox [(ngModel)]="product.checked" binary="true"
                                [disabled]="disabledProducts"></p-checkbox>
                            <span>
                                {{ product.name }}
                            </span>
                        </td>
                        <td>{{ product.barCode }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="2">{{'GENERAL.NODATA'|translate}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="flex gap-2 align-items-center justify-content-end">
        <p-button [label]="'GENERAL.CLEAR' | translate" severity="danger" [disabled]="!disabledProducts" (onClick)="clear()" />
        <p-button [label]="'GENERAL.SAVE' | translate" severity="primary" [disabled]="!disabledProducts" (onClick)="save()" />
    </div>

</div>