<section class="dialog-side">
  <shared-ui-table [config]="tableConfig" (actionClicked)="onActionClicked($event)"></shared-ui-table>
  <p-dialog [(visible)]="displayDialog" [modal]="true" [dismissableMask]="true" [position]="'right'"
    [style]="{ width: '600px', height: '100vh', top: '0', margin: '0', padding: '0' }" [baseZIndex]="10000"
    [draggable]="false" [blockScroll]="true" [closable]="false">
    <ng-template pTemplate="header">
      <div class="dialog-header">
        <div class="dialog-header__title">
          @if (selectedClassification) { {{'CLASSIFICATIONS.EDIT_CLASSIFICATION' | translate}} } @else { 
            {{'CLASSIFICATIONS.ADD_NEW_CLASSIFICATION' | translate}}
           }
        </div>
        <button class="dialog-header__close-button" (click)="displayDialog = false">
          <img src="assets/layout/images/close-icon.svg" alt="Close" class="dialog-header__close-icon" />
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <admin-add-edit-classification [ClassificationsData]="selectedClassification" (closeDialog)="onDialogClose()"
        (save)="handleSave($event)"></admin-add-edit-classification>
    </ng-template>
  </p-dialog>
</section>